{% load static %}

{% if not user.impianto_attivo %}
    <p class="alert alert-danger">
        <b><span style="color: #b21f2d; ">
            Prima di poter iniziare a lavorare devi impostare un impianto come attivo. :)
                            </span></b>
    </p>
{% else %}
    <p class="alert alert-info">
        <b><span style="color: #003366 ">
                                Attualmente stai lavorando nel seguente impianto: <font
                size="4"> {{ request.user.get_nome_impianto_attivo }} </font>
                            </span></b>
    </p>
{% endif %}