{% extends 'base.html' %}
{% load static %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Gestione Sensori</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'impianti' %}">Impianti</a>
        </li>
        <li class="breadcrumb-item active">Dettagli Impianto</li>
        <li class="breadcrumb-item active">{{ impianto.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    <center>
        <div class="section wow fadeInLeft animated" id="start">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% include 'impianti/alert-impianto.html' %}
                        <h1 class="text-primary">Dettagli Impianto</h1>
                        <p>Qui sotto sono mostrate tutte le informazioni relative all'impianto {{ impianto.name }}.</p>
                        <div class="col-md-6 col-md-offset-3">
                            <table class="table table-bordered table-condensed table-hover"
                                   style="align-content: center; text-align: center">
                                <thead>
                                <tr>
                                    <td><b>Attributo</b></td>
                                    <td><b>Valore</b></td>
                                </tr>

                                </thead>
                                <tbody id="form-list-client-body">
                                <tr>
                                    <td>Nome Impianto</td>
                                    <td>{{ impianto.name }}</td>
                                </tr>
                                <tr>
                                    <td>Cliente</td>
                                    <td>{{ impianto.user.username }}</td>
                                </tr>
                                <tr>
                                    <td>Citt&agrave;</td>
                                    <td>{{ impianto.city }}</td>
                                </tr>
                                <tr>
                                    <td>Indirizzo</td>
                                    <td>{{ impianto.address }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            <a href="{% url 'impianti' %}" class="btn btn-light">Torna indietro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </center>
{% endblock %}
