{% extends 'base.html' %}
{% load static %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Gestione Sensori</a>
        </li>
        <li class="breadcrumb-item active">Impianti</li>
    </ol>
{% endblock %}

{% block content %}
    <center>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'impianti/alert-impianto.html' %}
                    <h1 class="text-primary">Lista Impianti</h1>
                    <p>Qui sotto sono presenti tutti gli impianti a tua disposizione.
                        <br/>Per lavorarci su uno di essi, clicca su "imposta attivo"! </p>
                    <form id="form-list-client">
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-bordered"
                                   style="align-content: center; text-align: center">
                                <thead>
                                <tr>
                                    <th>Nome Impianto</th>
                                    <th>Citt&agrave;</th>
                                    <th>Indirizzo</th>
                                    <th>Cliente</th>
                                    <th>Azioni CRUD</th>
                                    <th>Attiva Impianto</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for impianto in impianti %}
                                    <tr>
                                        <td>{{ impianto.name }}</td>
                                        <td>{{ impianto.city }}</td>
                                        <td>{{ impianto.address }}</td>
                                        <td>{{ impianto.user.username }}</td>
                                        <td>
                                            <a href="{% url 'dettagli_impianto' %}?id={{ impianto.id }}"
                                               title="Mostra Dettagli" class="btn btn-default btn-light"> <img
                                                    src="{% static 'img/details.png' %}">
                                            </a>
                                            {% if request.user.is_staff %}
                                                <a href="{% url 'modifica_impianto' %}?id={{ impianto.id }}"
                                                   title="Modifica Impianto" class="btn btn-default btn-light"> <img
                                                        src="{% static 'img/edit.png' %}">
                                                </a>
                                                <a id="confermaLink" href="{% url 'elimina_impianto' %}?id={{ impianto.id }}"
                                                   title="Elimina Impianto" class="btn btn-default btn-light"> <img
                                                        src="{% static 'img/delete.png' %}">
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'attiva_impianto' %}?id={{ impianto.id }}"
                                               title="Imposta impianto come attivo"
                                               class="btn btn-default btn-light">
                                                <img src="{% static 'img/active.png' %}">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="pull-right">
                                <button id="id_refresh_page" class="btn btn-light btn-default">
                                    <img src="{% static 'img/refresh.png' %}"><br/>Aggiorna
                                </button>
                                {% if request.user.is_staff %}
                                    <a href="{% url 'aggiungi_impianto' %}"
                                       class="btn btn-light btn-default"><img
                                            src="{% static 'img/add.png' %}"><br/>
                                        Aggiungi</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <br/>
                </div>
            </div>
        </div>
    </center>
{% endblock %}


<script type="text/javascript">
    $(document).on("click", ".id_refresh_page", function () {
        location.reload(true);
    });
    $(document).on("click", ".button-delete", function () {
        alert('ciao')
    });
</script>
<noscript>Il tuo browser non supporta JavaScript!</noscript>

