{% load static %}
{% load myfilters %}

<!-- Modal tipi sensori -->
<div class="modal fade" id="tipiSensoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tipi Sensore</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="ts-form" method="post" action="{% url 'aggiungi_tipo_sensore' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p><b>Lista Tipologie</b></p>
                    {% for tipo in tipi_sensori %}
                        <table class="table table-bordered">
                            <tr>
                                <td>{{ tipo }}
                                    <br/>
                                    <p class="badge badge-danger">
                                        <small>
                                            <a style="color: white"
                                               href="{% url 'elimina_tipo_sensore' %}?id={{ tipo.id }}">
                                                elimina
                                            </a>
                                        </small>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                    <p><b>Aggiungi un tipo sensore</b></p>
                    <table class="table">
                        <tr>
                            <td><label for="id_name">Tipo Sensore</label></td>
                            <td>{{ formts.tipo|addcss:'form-control' }}</td>
                        </tr>
                    </table>
                    {% if form.errors %}
                        <p style="font-size: x-small" class="badge badge-danger">
                            Dati non validi. Riprova!
                        </p>
                        <br/>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Indietro</button>
                    <input type="submit" value="Aggiungi" class="btn btn-primary pull-right"/>
                </div>
            </form>
        </div>
    </div>
</div>