{% extends 'base.html' %}
{% load static %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Gestione Sensori</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'rilevazioni' %}?id_sensore={{ rilevazione.id_sensore }}">Rilevazioni</a>
        </li>
        <li class="breadcrumb-item active">Dettagli Rilevazione</li>
        <li class="breadcrumb-item active">{{ rilevazione.stringa }}</li>
    </ol>
{% endblock %}

{% block content %}
    <center>
        <div class="section wow fadeInLeft animated" id="start">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% include 'impianti/alert-impianto.html' %}
                        <h1 class="text-primary">Dettagli Rilevazione</h1>
                        <p>Qui sotto sono mostrate tutte le informazioni relative alla rilevazione.</p>
                        <div class="col-md-6 col-md-offset-3">
                            <table class="table table-bordered table-condensed table-hover"
                                   style="align-content: center; text-align: center">
                                <thead>
                                <tr>
                                    <td><b>Attributo</b></td>
                                    <td><b>Valore</b></td>
                                </tr>

                                </thead>
                                <tbody id="form-list-client-body">
                                <tr>
                                    <td>Stringa</td>
                                    <td>{{ rilevazione.stringa }}</td>
                                </tr>
                                <tr>
                                    <td>Data / Ora</td>
                                    <td>{{ rilevazione.dataora }}</td>
                                </tr>
                                <tr>
                                    <td>Valore</td>
                                    <td>{{ rilevazione.valore }}</td>
                                </tr>
                                <tr>
                                    <td>Messaggio</td>
                                    <td>{{ rilevazione.messaggio }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            <a href="{% url 'rilevazioni' %}?id_sensore={{ rilevazione.sensore }}" class="btn btn-light">Torna indietro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </center>
{% endblock %}
