{% extends 'base.html' %}
{% load static %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Gestione Sensori</a>
        </li>
        <li class="breadcrumb-item active">Rilevazioni</li>
    </ol>
{% endblock %}

{% block content %}
    <center>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'impianti/alert-impianto.html' %}
                    <h1 class="text-primary">Lista Rilevazioni</h1>
                    <h3>ID Sensore: {{ id_sensore }}</h3>
                    <p>Qui sotto sono presenti tutte le rilevazioni effettuate dal sensore.</p>
                    <form id="form-list-client">


                        <table id="dataTable" class="table table-bordered"
                               style="align-content: center; text-align: center">
                            <thead>
                            <tr>
                                <th>Data / Ora</th>
                                <th>Valore</th>
                                <th>Messaggio</th>
                                <th>Azioni CRUD</th>
                            </tr>
                            </thead>
                            <tbody id="form-list-client-body">

                            {% for rilevazione in rilevazioni %}
                                <tr>
                                    <td>{{ rilevazione.dataora }}</td>
                                    <td>{{ rilevazione.valore }}</td>
                                    <td>{{ rilevazione.messaggio }}</td>
                                    <td>
                                        <a href="{% url 'dettagli_rilevazione' %}?id={{ rilevazione.id }}"
                                           title="Mostra Dettagli" class="btn btn-default btn-light "> <img
                                                src="{% static 'img/details.png' %}">
                                        </a>
                                        <a id="confermaLink" href="{% url 'elimina_rilevazione' %}?id={{ rilevazione.id }}"
                                           title="Elimina Rilevazione" class="btn btn-default btn-light"> <img
                                                src="{% static 'img/delete.png' %}">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="pull-right">
                            <button id="id_refresh_page" class="btn btn-light btn-default">
                                <img src="{% static 'img/refresh.png' %}"><br/>Aggiorna
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <br/>
        </div>
    </center>
{% endblock %}

<script type="text/javascript">
    $(document).on("click", ".id_refresh_page", function () {
        location.reload(true);
    });
</script>
<noscript>Il tuo browser non supporta JavaScript!</noscript>
