{% extends 'base.html' %}
{% load static %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Gestione Sensori</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'sensori' %}">Sensori</a>
        </li>
        <li class="breadcrumb-item active">Dettagli Sensore</li>
        <li class="breadcrumb-item active">{{ sensore.id }}</li>
    </ol>
{% endblock %}

{% block content %}
    <center>
        <div class="section wow fadeInLeft animated" id="start">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% include 'impianti/alert-impianto.html' %}
                        <h1 class="text-primary">Dettagli Sensore</h1>
                        <p>Qui sotto sono mostrate tutte le informazioni relative all'impianto {{ impianto.name }}.</p>
                        <div class="col-md-6 col-md-offset-3">
                            <table class="table table-bordered table-condensed table-hover"
                                   style="align-content: center; text-align: center">
                                <thead>
                                <tr>
                                    <td><b>Attributo</b></td>
                                    <td><b>Valore</b></td>
                                </tr>

                                </thead>
                                <tbody id="form-list-client-body">
                                <tr>
                                    <td>ID Sensore</td>
                                    <td>{{ sensore.id }}</td>
                                </tr>
                                <tr>
                                    <td>Tipo</td>
                                    <td>{{ sensore.tipo }}</td>
                                </tr>
                                <tr>
                                    <td>Marca</td>
                                    <td>{{ sensore.marca }}</td>
                                </tr>
                                <tr>
                                    <td>Codice Errore</td>
                                    <td>{{ sensore.codice_errore }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <br />
                            <a href="{% url 'sensori' %}" class="btn btn-light">Torna indietro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </center>
{% endblock %}
