{% extends 'base.html' %}
{% load static %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Gestione Sensori</a>
        </li>
        <li class="breadcrumb-item active">Sensori</li>
    </ol>
{% endblock %}

{% block content %}
    <center>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'impianti/alert-impianto.html' %}
                    <h1 class="text-primary">Lista Sensori</h1>
                    <p>Qui sotto sono presenti tutti i sensori a tua disposizione.
                        <br/>Per lavorarci su uno di essi, clicca su "imposta attivo"! </p>
                    <form id="form-list-client">

                        <table id="dataTable" class="table table-bordered"
                               style="align-content: center; text-align: center">
                            <thead>
                            <tr>
                                <th>ID Sensore</th>
                                <th>Tipo</th>
                                <th>Marca</th>
                                <th>Rilevazione</th>
                                <th>Azioni CRUD</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for sensore in sensori %}
                                <tr>
                                    <td>{{ sensore.id }}</td>
                                    <td>{{ sensore.tipo }}</td>
                                    <td>{{ sensore.marca }}</td>
                                    <td>
                                            <span style="font-size: small; ">Ultima:
                                                {% if not sensore.get_last_rilevazione %}
                                                    Nessuna
                                                {% else %}
                                                    {{ sensore.get_last_rilevazione.dataora }}
                                                {% endif %}
                                            </span>
                                        <br/><a href="{% url 'rilevazioni' %}?id_sensore={{ sensore.id }}"
                                                class="btn btn-primary btn-light">Mostra tutte le Rilevazioni</a>

                                    </td>
                                    <td>
                                        <a href="{% url 'dettagli_sensore' %}?id_sensore={{ sensore.id }}"
                                           title="Mostra Dettagli" class="btn btn-default btn-light"> <img
                                                src="{% static 'img/details.png' %}">
                                        </a>
                                        {% if request.user.is_staff %}
                                            <a href="{% url 'modifica_sensore' %}?id_sensore={{ sensore.id }}"
                                               title="Modifica Impianto" class="btn btn-default btn-light"> <img
                                                    src="{% static 'img/edit.png' %}">
                                            </a>
                                            <a id="confermaLink" href="{% url 'elimina_sensore' %}?id={{ sensore.id }}"
                                               title="Elimina Impianto" class="btn btn-default btn-light"> <img
                                                    src="{% static 'img/delete.png' %}">
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="pull-right">
                            <button id="id_refresh_page" class="btn btn-light btn-default">
                                <img src="{% static 'img/refresh.png' %}"><br/>Aggiorna
                            </button>
                            {% if request.user.is_staff %}
                                <a href="{% url 'aggiungi_sensore' %}" class="btn btn-light btn-default">
                                    <img src="{% static 'img/add.png' %}"><br/>
                                    Aggiungi</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br/>
    </center>
{% endblock %}

<script type="text/javascript">
    $(document).on("click", ".id_refresh_page", function () {
        location.reload(true);
    });
</script>
<noscript>Il tuo browser non supporta JavaScript!</noscript>