{% extends 'base.html' %}
{% load static %}
{% load myfilters %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Gestione Sensori</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'sensori' %}">Sensori</a>
        </li>
        <li class="breadcrumb-item active">Modifica Sensore</li>
        <li class="breadcrumb-item active">{{ sensore.id }}</li>
        <li class="breadcrumb-item active">Sposta Sensore</li>
    </ol>
{% endblock %}

{% block content %}
    <center>
        <div class="section wow fadeInLeft animated" id="start">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% include 'impianti/alert-impianto.html' %}
                        <h1 class="text-primary">Sposta Sensore</h1>
                        <h3>ID Sensore: {{ sensore.id }}</h3>
                        <p>Trasferisci il sensore su un altro impianto.</p>
                        <h5>Il sensore sta attualmente nell'impianto {{ request.user.impianto_attivo }}</h5>
                        <div class="col-md-6 col-md-offset-3">
                            <form id="login-form" method="post"
                                  action="{% url 'sposta_sensore' %}?id_sensore={{ sensore.id }}">
                                {% csrf_token %}
                                <table class="table table-active">
                                    <tr>
                                        <td><label for="id_impianto">Trasferisci su..</label></td>
                                        <td>{{ form.imp|addcss:'custom-select' }}</td>
                                    </tr>
                                </table>
                                {% if form.errors %}
                                    <p style="font-size: x-small" class="badge badge-danger">
                                        Dati non validi. Riprova!
                                    </p>
                                    <br/>
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <input id="confermaLink" type="submit" value="Trasferisci"
                                       class="btn btn-primary pull-right"/>

                                <input type="hidden" name="next" value="{{ next }}"/>
                            </form>
                            <br/><br/>
                            <a href="{% url 'sensori' %}" class="btn btn-light">Torna indietro</a>
                            <br/><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
{% endblock %}
