{% extends 'base.html' %}
{% load static %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Gestione Sensori</a>
        </li>
        <li class="breadcrumb-item active">Utenti</li>
    </ol>
{% endblock %}

{% block content %}
    <center>
        <div class="section wow fadeInLeft animated" id="start">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% include 'impianti/alert-impianto.html' %}
                        <h1 class="text-primary">Lista Utenti</h1>
                        <p>Qui sotto sono presenti tutti gli utenti presenti nel sistema.</p>
                        <form id="form-list-client">


                            <table id="dataTable" class="table table-bordered"
                                   style="align-content: center; text-align: center">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Nominativo</th>
                                    <th>Email</th>
                                    <th>Tipo</th>
                                    <th>Azioni CRUD</th>
                                </tr>
                                </thead>
                                <tbody id="form-list-client-body">

                                {% for utente in utenti %}
                                    <tr>
                                        <td>{{ utente.username }}</td>
                                        <td>{{ utente.last_name }} {{ utente.first_name }}</td>
                                        <td>{{ utente.email }}</td>
                                        <td>{{ utente.get_tipo }}</td>
                                        <td>
                                            <a href="{% url 'dettagli_utente' %}?id={{ utente.id }}"
                                               title="Mostra Dettagli" class="btn btn-default btn-light"> <img
                                                    src="{% static 'img/details.png' %}">
                                            </a>
                                            <a href="{% url 'modifica_utente' %}?id={{ utente.id }}"
                                               title="Modifica Impianto" class="btn btn-default btn-light"> <img
                                                    src="{% static 'img/edit.png' %}">
                                            </a>
                                            <a id="confermaLink" href="{% url 'elimina_utente' %}?id={{ utente.id }}"
                                               title="Elimina Impianto" class="btn btn-default btn-light"> <img
                                                    src="{% static 'img/delete.png' %}">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="pull-right">
                                <button id="id_refresh_page" class="btn btn-light btn-default">
                                    <img src="{% static 'img/refresh.png' %}"><br/>Aggiorna
                                </button>
                                <a href="{% url 'aggiungi_utente' %}" class="btn btn-light btn-default"><img
                                        src="{% static 'img/add.png' %}"><br/>
                                    Aggiungi</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </center>
{% endblock %}

<script type="text/javascript">
    $(document).on("click", ".id_refresh_page", function () {
        location.reload(true);
    });
</script>
<noscript>Il tuo browser non supporta JavaScript!</noscript>