{% extends 'base.html' %}
{% load static %}
{% load myfilters %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Gestione Sensori</a>
        </li>
        <li class="breadcrumb-item active">Contatti</li>
    </ol>
{% endblock %}

{% block content %}
    <h1>Contatti</h1>
    <p>Contattaci per informazioni e assistenza.</p>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_nome">
                                    Nome</label>
                                <input type="text" class="form-control" id="id_nome" name="nome"
                                       placeholder="Inserisci il tuo nome"
                                       required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="id_email">
                                    Indirizzo Email</label>
                                <div class="input-group">
								<span class="input-group-addon">
                                    <span class="fa fa-fw fa-envelope"></span>
								</span>
                                    <input type="email" class="form-control" id="id_email" name="email"
                                           placeholder="Inserisci la tua email"
                                           required="required"/></div>
                            </div>
                            <div class="form-group">
                                <label for="id_richiesta">
                                    Tipo Richiesta</label>
                                <select id="id_richiesta" name="richiesta" class="form-control"
                                        required="required">
                                    <option selected="">Scegline una:</option>
                                    <option value="service">Informazioni</option>
                                    <option value="suggestions">Assistenza</option>
                                    <option value="product">Altro</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_messaggio">
                                    Messaggio</label>
                                <textarea name="messaggio" id="id_messaggio" class="form-control" rows="9"
                                          cols="25"
                                          required="required"
                                          placeholder="Inserisci il messaggio..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Invia Messaggio
                            </button>
                        </div>
                    </div>
                </form>
                <hr/>

                <legend>Dove ci troviamo?</legend>
                <address>
                    <strong>IoT Sensori, Inc.</strong><br>
                    Via Amendola 17, Quartiere S.Pasquale<br>
                    Bari, BA 70121<br>
                    <i>Phone: (080) 302-6575</i>
                </address>

                <center>
                    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
                    <noscript>Il tuo browser non supporta JavaScript!</noscript>
                    <div style='overflow:hidden;height:250px;width:400px;'>
                        <div id='gmap_canvas' style='height:250px;width:400px;'></div>
                        <div>
                            <small><a href="www.embedgooglemaps.com/">embedgooglemaps.com/it/</a></small>
                        </div>
                        <div>
                            <small><a href="https://couponcode.ng/">http://www.couponcode.ng</a></small>
                        </div>
                        <style>
                            #gmap_canvas img {
                                max-width: none !important;
                                background: none !important
                            }
                        </style>
                    </div>
                    <script type='text/javascript'>function init_map() {
                        var myOptions = {
                            zoom: 10,
                            center: new google.maps.LatLng(41.1171432, 16.871871499999997),
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                        marker = new google.maps.Marker({
                            map: map,
                            position: new google.maps.LatLng(41.1171432, 16.871871499999997)
                        });
                        infowindow = new google.maps.InfoWindow({content: '<strong>IoT Sensori</strong><br>Bari, Italy<br>'});
                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.open(map, marker);
                        });
                        infowindow.open(map, marker);
                    }

                    google.maps.event.addDomListener(window, 'load', init_map);</script>
                </center>
                <br/><br/>
            </div>
        </div>
    </div>

{% endblock %}