{% extends 'base.html' %}
{% load static %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Gestione Sensori</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
{% endblock %}

{% block content %}
    <center>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'impianti/alert-impianto.html' %}
                    <h1 class="text-primary">Dashboard</h1>
                    <p>Nella dashboard vengono mostrate tutte le principali informazioni riguardo all'impianto
                        attivo selezionato.<br/>Statistiche, grafici, e le eccezioni riscontrate sono a tua
                        disposizione.</p>
                    <h3>Informazioni</h3>
                    <p>Numero Sensori: <b>{{ request.user.get_impianto_attivo.get_num_sensori }}</b></p>
                    Sensori attivi nelle precedenti
                    24 ore: <b>{{ request.user.get_impianto_attivo.get_sensori_attivi_24h.num }}</b>
                    <br/>
                    ({% for sensore in request.user.get_impianto_attivo.get_sensori_attivi_24h.sensori24h %}
                    {{ sensore }}
                {% endfor %})
                    <hr/>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-8">
                                <!-- Example Bar Chart Card-->
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fa fa-bar-chart"></i> Grafico Eccezioni
                                    </div>
                                    <div class="card-body">
                                        <canvas id="myBarChart" width="100" height="50"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fa fa-pie-chart"></i> Tipologie Sensori
                                    </div>
                                    <div class="card-body">
                                        <canvas id="grafico_tipologie" width="100%" height="100"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <hr/>
                    <div class="col-md-8">
                        <h4>Ultime 10 eccezioni riscontrate</h4>
                        <table class="table table-bordered"
                               style="align-content: center; text-align: center">
                            <thead>
                            <tr>
                                <th>ID Sensore</th>
                                <th>Messaggio</th>
                            </tr>

                            </thead>
                            <tbody id="form-list-client-body">
                            {% for ril in ril_ecc %}
                                <tr>
                                    <td>{{ ril.sensore }}</td>
                                    <td>{{ ril.messaggio }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </center>
{% endblock %}

{% block ajax %}
    <script>
        // Chart.js scripts
        // -- Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",' +
            'Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#292b2c';
        // Grafico Eccezioni
        var ctx = document.getElementById("myBarChart");
        var labels_list = [];
        var values_list = [];
        {% for elem in ril_and %}
            labels_list.push('{{ elem.sensore }}');
            values_list.push('{{ elem.num }}');
        {% endfor %}
        var myLineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels_list,
                datasets: [{
                    label: "Eccezioni",
                    backgroundColor: "rgba(2,117,216,1)",
                    borderColor: "rgba(2,117,216,1)",
                    data: values_list
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: true
                        },
                        ticks: {
                            maxTicksLimit: 6
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 10,
                            maxTicksLimit: 5
                        },
                        gridLines: {
                            display: true
                        }
                    }]
                },
                legend: {
                    display: true
                }
            }
        });
        // Grafico Tipologie Sensori
        var ctx_gt = document.getElementById("grafico_tipologie");
        var list_labels = [];
        var list_values = [];
        var list_colors = [];
        {% for tipo in request.user.get_impianto_attivo.get_tipi_sensori %}
            list_labels.push('{{ tipo.tipo }}');
            list_values.push('{{ tipo.num }}');
            list_colors.push("#" + Math.random().toString(16).slice(2, 8));
        {% endfor %}
        var graph = new Chart(ctx_gt, {
            type: 'pie',
            data: {
                labels: list_labels,
                datasets: [{
                    data: list_values,
                    backgroundColor: list_colors
                }]
            }
        });
    </script>
    <noscript>Il tuo browser non supporta JavaScript!</noscript>
{% endblock %}