{% load static %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'home' %}">Gestione Sensori IoT</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Homepage">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fa fa-fw fa-home"></i>
                    <span class="nav-link-text">Homepage</span>
                </a>
            </li>
            {% if not user.is_active %}
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Login">
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="fa fa-fw fa-sign-in"></i>
                        <span class="nav-link-text">Accedi</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Pannello">
                    <a class="nav-link" href="{% url 'panel' %}">
                        <i class="fa fa-fw fa-star"></i>
                        <span class="nav-link-text">Preferiti</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Impianti">
                    <a class="nav-link" href="{% url 'impianti' %}">
                        <i class="fa fa-fw fa-map-signs"></i>
                        <span class="nav-link-text">Impianti</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sensori">
                    <a class="nav-link" href="{% url 'sensori' %}">
                        <i class="fa fa-fw fa-cube"></i>
                        <span class="nav-link-text">Sensori</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                {% if request.user.is_staff %}
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Utenti">
                        <a class="nav-link" href="{% url 'utenti' %}">
                            <i class="fa fa-fw fa-users"></i>
                            <span class="nav-link-text">Utenti</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-user-circle"></i>
                    {% if not user.is_active %}
                        Benvenuto ospite!
                    {% else %}
                        <i style="font-size: small"></i> Bentornato {{ request.user.last_name }}
                        {{ request.user.first_name }}!&nbsp;&nbsp;&nbsp;
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                    <center>
                        <h6 class="dropdown-header"><span style="font-size: medium">Account</span></h6>
                        <div class="dropdown-divider"></div>
                        <span style="font-size: small;">
                            {% if not user.is_active %}
                                <div class="dropdown-header">
                                Benvenuto ospite :)<br/>
                                <i>Accedi al tuo account ed inizia<br /> a monitorare i tuoi sensori!</i>
                                </div>
                            {% else %}
                                <div class="dropdown-header">
                                    <table class="table" style="font-size: small">
                                        <tr>
                                            <td>Username: </td>
                                            <td>{{ request.user.username }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email: </td>
                                            <td>{{ request.user.email }}</td>
                                        </tr>
                                        <tr>
                                            <td>Ultimo accesso: </td>
                                            <td>{{ request.user.last_login }}</td>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}
                        </span>
                    </center>
                </div>

            </li>

            <li style="font-size: small;" class="nav-item">
                {% if not user.is_active %}
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-in"></i>Effettua il login!
                    </a>
                {% else %}
                    <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>